/*---------- HEADER -------------*/
.logo-head {
  font-weight: 600;
}

.h-wrapper {
  color: #fff;
}

.h-container {
  justify-content: space-around;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  color: var(--secondary);
}

.h-menu {
  gap: 2rem;
  transition: all 300ms ease-in;
}

.h-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*---------- LOGOS -------------*/
.logo-container {
  margin-top: 1rem;
  justify-content: space-around;
  gap: 1rem;
}

.logo-container>img {
  width: 9rem;
}

/*---------- HERO -------------*/
.hero-wrapper {
  position: relative;
  color: white;
  padding-bottom: 2rem;
}

.hero-container {
  justify-content: space-around;
  align-items: flex-end;
}

.image-container {
  width: 28rem;
  height: 30.2rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container>img {
  width: 100%;
  height: 100%;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title>h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}

.circle {
  height: 4rem;
  width: 4rem;
  background: var(--blue-gradient);
  position: absolute;
  border-radius: 999px;
  left: 37%;
  bottom: 60%;
  z-index: 1;
}

.search-bar {
  padding: 1.5rem 2rem;
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 290px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.search button[type="submit"] {
  height: 45px;
  background: var(--blue-gradient);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}

.hero-description {
  margin-left: 2rem;
}

.stats {
  width: 60%;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.stat>:nth-child(1) {
  font-size: 2rem;
}

.stat>:nth-child(1)>:last-child {
  color: var(--blue);
}

/*---------- SLIDER -------------*/
.s-container {
  overflow: hidden;
  position: relative;
}

.s-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  margin-bottom: 1rem;
  transition: all 300ms ease-in;
}

.s-card>img {
  width: 100%;
  max-width: 15rem;
  border-radius: 14px;
}

.s-card>:nth-child(2) {
  font-size: 1.49rem;
  font-weight: 600;
}

.s-card>:nth-child(3) {
  font-size: 1.5rem;
}

.s-card>:nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
}

.s-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0)0%,
      rgba(136, 160, 255, 0.46)217.91%);
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.s-button {
  gap: 0.7rem;
}

.s-button button {
  margin-bottom: 3px;
  font-size: 1.1rem;
  padding: 0.2rem 0.7rem;
  border: none;
  border-radius: 5px;
  background: #EEEEFF;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.s-button button:hover {
  transform: scale(1.1);
}

/* --------------VALUE ------------------*/
.value-container .image-container {
  border: 8px solid rgba(232 232 232 /93%);
}

.value-container>div {
  flex: 1;
}

.v-right {
  gap: 0.4rem;
}

.itemHead {
  font-size: 24px;
}

.accordion {
  margin-top: 1rem;
  box-shadow: var(--shadow)
}

.accordianItem {
  background: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.accordionItemButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
  transition: all 200ms ease-in;
}

.icon:hover {
  transform: scale(1.2);
}

.icon svg {
  fill: var(--blue);

}

/*---------- CONTACT -------------*/
.con-container {
  justify-content: space-between;
}

.con-right .image-container {
  border: 8px solid rgba(232 232 232 /93%);
}

.con-left {
  gap: 0.5rem;
}

.contact-modes {
  margin-top: 2rem;
  gap: 1rem;
}

.contact-modes .row {
  gap: 1.5rem;
}

.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in-out;
}

.mode>:nth-child(1) {
  width: 90%;
  gap: 1.6rem;
}

.mode .detail .primaryText {
  font-size: 1.1rem;
  font-weight: 600;
}

.mode:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}

.con-button {
  width: 90%;
  font-size: 17px;
  font-weight: 600;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: var(--blue);
  color: white;
  border-radius: 5px 18px;
  cursor: pointer;
}

.con-button:hover {
  background: var(--blue-gradient);
}

.con-button:active {
  transform: translate(0em, 0.2em);
}

/*---------- GETSTARTED -------------*/
.inner-container {
  gap: 1.5rem;
  background: #4161df;
  padding: 2rem;
  border-radius: 10px;
  border: 6px solid #5d77d6;
  text-align: center;
}

.inner-container .primaryText {
  color: white;
  font-weight: 600;
}

.inner-container .secondaryText {
  color: rgba(255, 255, 255, 0.587);
}

.start-btn {
  background: #4161df;
  box-shadow: var(--shadow);
  border: 2px solid #eeeeff;
  border-radius: 10px;
  height: 45px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 300ms ease-in;
}

.start-btn:hover {
  scale: 1.1;
  background: #eeeeff;
  color: #4161df;
  border: 2px solid #4161df;
}

/*---------- FOOTER -------------*/
.f-container {
  justify-content: space-between;
}

.f-left {
  gap: 1rem;
}

.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

/*---------------------------------------- MEDIA-QUERIES -----------------------------------------*/
/*---------- FOR-1024 -------------*/
@media (max-width: 1024px){
  .value-container{
    flex-direction: column;
  }
  .con-container{
    flex-direction: column;
  }
  .con-right{
    justify-content: center;
  }
  .contact-modes{
    width: 100%;
  }
  .row{
    flex-direction: column;
    width: 100%;
  }
  .mode{
    width: 100%;
  }
}
/*---------- FOR-768 -------------*/
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .h-menu {
    z-index: 99;
    color: var(--black);
    position: absolute;
    top: 4.1rem;
    right: 3.3rem;
    background: white;
    flex-direction: column;
    font-weight: 600;
    gap: 2rem;
    padding: 3rem;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in;
  }

  .circle {
    left: 60%;
    bottom: 85%;
  }

  .button {
    width: 7em;
    height: 2.5em;
    border: 3px ridge #149CEA;
    color: #149CEA;
    border-radius: 0.3em;
    font-size: 17px;
    font-weight: 700;
  }

  .button::after {
    background-color: var(--white);
  }

  .button::before {
    background-color: var(--white);
  }

  .button:hover {
    box-shadow: inset 0px 0px 25px #149CEA;
    cursor: pointer;
  }

  .hero-title>h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-description {
    margin: auto;
  }

  .search-bar {
    margin: auto;
  }

  .stats {
    margin: auto;
    justify-content: center;
    gap: 1.2rem;
  }

  .s-head{
    align-items: center;
  }
  .accordionItemButton .primaryText{
    font-size: 1rem;
  }
  .f-container{
    justify-content: center;
  }
  .f-container>div{
    align-items: center!important;
    text-align: center;
  }
}

/*---------- FOR-640 -------------*/
@media (max-width: 640px) {
  .hero-container {
    justify-content: center;
    margin-top: 2rem;
  }

  .hero-title>h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .image-container {
    width: 95%;
    height: 25rem;
  }

  .stats {
    margin: auto;
    justify-content: center;
    gap: 1.2rem;
  }

  .stat>:nth-child(1) {
    font-size: 1.5rem;
  }

  .stat>:nth-child(2) {
    font-size: 0.8rem;
  }

  .hero-right {
    width: 100%;
  }

  .circle {
    left: 45%;
    bottom: 91%;
  }

  .hero-description {
    margin: 0px 4px;
    padding: 1px 2rem;
    font-size: 0.4rem;
  }

  .search-bar {
    margin: auto;
  }
}

/*---------- FOR-480 -------------*/
@media (max-width: 480px) {
  .circle {
    left: 65%;
    bottom: 91%;
  }
  .accordionItemButton .primaryText{
    font-size: 0.8rem;
  }
}