.h-wrapper{
    background: var(--black);
    color: #fff;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}
.h-menu{
    gap: 2rem;
    transition: all 300ms ease-in;
}
.h-menu a:hover{
    cursor: pointer;
    transform: scale(1.1);
}
